.cursos__container {
  width: 380px;
}
.cards__container {
  display: flex;
  gap: 1rem;
  position: relative;
  margin-bottom: 3rem;
}
.arrow__btn {
  border: 2px solid var(--colorPrincipal);
  font-size: 2rem;
  padding: 0.4rem 0.4rem;
  font-weight: bold;
  background-color: var(--colorClaro);
  position: absolute;
  top: 300px;
}
#course__list {
  display: flex;
  flex-direction: column;
}
#course__list ol {
  list-style: unset;
}
ol {
  text-align: start;
}
.text__courses {
  background-color: violet;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1rem;
}
#course__list li {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  text-align: start;
  list-style: initial;
}
.clases__type {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.class__content {
  width: 33%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.class__content img {
  width: 60%;
}
.class__content p {
  padding: 1.2rem 0;
}
.pdf__icon {
  font-size: 3rem;
  color: var(--colorPrincipal);
}
.clases__type img {
  width: 80%;
}

@media (min-width: 768px) {
  .cursos__container {
    width: 768px;
  }

  .class__content {
    height: 200px;
  }

  .clases__type {
    margin: 0 auto;
    width: 65%;
  }

  .clases__type img {
    width: 65%;
  }
}

@media (min-width: 950px) {
  .cursos__container {
    width: 950px;
  }
}
