.cursos__container {
  width: 380px;
}
.cards__container {
  display: flex;
  gap: 1rem;
  position: relative;
  margin-bottom: 3rem;
}
.arrow__btn {
  border: 2px solid var(--colorPrincipal);
  font-size: 2rem;
  padding: 0.4rem 0.4rem;
  font-weight: bold;
  background-color: var(--colorClaro);
  position: absolute;
  top: 300px;
}

.arrow__btn:first-child {
  left: -5px;
}

.arrow__btn:nth-child(2) {
  right: 0;
}

.arrow__btn:hover {
  background-color: var(--colorPrincipal);
  color: var(--colorClaro);
  border: 2px solid var(--colorPrincipal);
}
.arrow__btn:active {
  border: 2px solid var(--colorPrincipal);
}
.clases__type {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.class__content {
  width: 33%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.class__content p {
  padding: 1.2rem 0;
}
.pdf__icon {
  font-size: 3rem;
  color: var(--colorPrincipal);
}
.clases__type img {
  width: 80%;
}

@media (min-width: 768px) {
  .cursos__container {
    width: 768px;
  }

  .class__content {
    height: 200px;
  }

  .clases__type img {
    width: 65%;
  }
}

@media (min-width: 950px) {
  .cursos__container {
    width: 950px;
  }
}
