.img__faby {
  width: 45%;
  float: right;
  background-color: var(--colorClaro);
  margin: 0.5rem;
  border-radius: 60% 5%;
}
.faby__img {
  width: 70%;
}
.faby__description {
  padding: 0.5rem;
  line-height: 20px;
  text-align: start;
}
.purple__text {
  color: blueviolet;
  font-weight: 600;
}

.info__container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.info__faby {
  width: 95%;
  height: 120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info__numero {
  font-size: var(--h1);
  padding: 1rem;
  font-weight: bold;
}
.testimonios {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.logros__container {
  margin: 1rem 0;
}

.red__square {
  margin: 1rem 0;
  border: 3px solid red;
}

.red__alert {
  padding: 2rem;
  background-color: red;
  color: rgb(156, 2, 2);
}

@media (min-width: 768px) {
  .img__faby {
    width: 35%;
  }
  .info__container {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .testimonios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
}
