.reiki__text {
  padding: 0.5rem;
  line-height: 20px;
}
.img__japon {
  width: 75%;
}
.text__color {
  color: var(--colorPrincipal);
}
.list__tomark li {
  list-style-type: disc;
  text-align: start;
}

.items__reiki {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.items__reiki img {
  width: 75%;
}
figure {
  display: flex;
  flex-direction: column;
}

figure img {
  flex-grow: 1;
  margin: 0 auto;
}
figcaption {
  padding: 0.5rem;
  background-color: var(--colorClaro);
}
.text__tostart {
  text-align: start;
}

@media (min-width: 768px) {
  .items__reiki {
    grid-template-columns: repeat(4, 1fr);
  }
  .items__reiki img {
    width: 60%;
  }
}
